node_modules
dist
npm-debug.log
.git
.env
*.exp
*.sh
uploads
.vscode
.dockerignore
Dockerfile
docker-compose.yml
docker-compose.prod.yml
*.csv
*.sql
*.pdf
*.json
!package.json
!package-lock.json
!tsconfig.json
