# Database
DATABASE_URL=postgresql://admin:admin123@localhost:5435/admin_panel

# Auth
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123
ADMIN_JWT_SECRET=your-secret-jwt-key-change-this-in-production

# Server
PORT=4000
NODE_ENV=development

# Cloudinary (опціонально)
CLOUDINARY_CLOUD_NAME=dgv0rxd60
CLOUDINARY_API_KEY=your-cloudinary-api-key
CLOUDINARY_API_SECRET=your-cloudinary-api-secret

# S3 / Hetzner Object Storage
S3_BUCKET_NAME=foryou
S3_ENDPOINT=https://nbg1.your-objectstorage.com
S3_REGION=nbg1
S3_ACCESS_KEY_ID=your-s3-access-key
S3_SECRET_ACCESS_KEY=your-s3-secret-key
S3_PUBLIC_URL=https://nbg1.your-objectstorage.com/foryou
